/* mobile */
.product-grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

/* desktop */
@media screen and (min-width:1200px) {
    .product-grid-container {
	grid-template-columns: auto auto;
    }
}

.article-item {
    background: lightGray;
    border-radius: 4px;
    padding-right: 10px;
}

.limit-7-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.zoom-on-hover {
    transition: transform .2s;
}

.zoom-on-hover:hover {
    transform: scale(1.1);
}

.footer {
    padding: 10px;
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    background: #222;
    color: gray;
}

.footer-column {
    padding: 15px
}
